spring:
  application:
    name: productos-service
  
  datasource:
    url: jdbc:mysql://localhost:3306/fotomarwms?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=America/Santiago
    username: root
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

server:
  port: 8083

jwt:
  secret: FotomarWMS2024SecretKeyForJWTTokenGenerationAndValidationMustBeLongEnough

logging:
  level:
    com.fotomar: DEBUG